<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="https://viewhelpers.fluidtypo3.org/typo3/cms-fluid/9.3.2/schema.xsd"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Preview"/>

<f:section name="Content"> 
    <style>
        .bg-dark a{pointer-events: none;}.bg-dark {  background-color: #000103 !important;  padding: 10px;}
    </style>
        <div class="row bg-dark">
            
            <div class="col-md-12 text-center text-white text-md-start d-flex justify-content-between">
                <f:format.raw>{data.description}</f:format.raw>
            </div>
        </div>
</f:section>

</html>