<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Description -->
<f:if condition="{data.description}">
    <f:format.html>{data.description}</f:format.html>
</f:if>

<!-- Social Icons -->
<f:if condition="{data.social_media}">
    <div class="d-flex hightech-link">

        <f:for each="{data.social_media}" as="item">

            <!-- Only render if icon exists -->
            <f:if condition="{item.social_media_icons.0}">

                <!-- With link -->
                <f:if condition="{item.social_media_icons.0.link}">
                    <f:then>
                        <f:link.typolink parameter="{item.social_media_icons.0.link}"
                                         class="btn-light nav-fill btn btn-square rounded-circle me-2"
                                         additionalAttributes="{target: '_blank'}">

                            <f:image image="{item.social_media_icons.0}" class="img-fluid" alt="" width="15"/>

                        </f:link.typolink>
                    </f:then>

                    <!-- Without link -->
                    <f:else>
                        <div class="btn-light nav-fill btn btn-square rounded-circle me-2 d-flex align-items-center justify-content-center">
                            <f:image image="{item.social_media_icons.0}" class="img-fluid" alt="" width="15"/>
                        </div>
                    </f:else>
                </f:if>

            </f:if>

        </f:for>

    </div>
</f:if>
</html>