<!-- Footer Start -->
<footer class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">

        <div class="row g-5">

            <!-- Part 1 -->
            <div class="col-lg-3 col-md-6">
                <f:cObject typoscriptObjectPath="lib.FooterPart1" />
            </div>

            <!-- Part 2 -->
            <div class="col-lg-3 col-md-6">
                <f:cObject typoscriptObjectPath="lib.FooterPart2" />
            </div>

            <!-- Part 3 -->
            <div class="col-lg-3 col-md-6">
                <f:cObject typoscriptObjectPath="lib.FooterPart3" />
            </div>

            <!-- Part 4 (Contact Section) -->
            <div class="col-lg-3 col-md-6">
                <f:cObject typoscriptObjectPath="lib.FooterPart4" />
            </div>

        </div>

        <hr class="text-light mt-5 mb-4">

        <!-- Copyright -->
        <f:cObject typoscriptObjectPath="lib.footerCopyright" />

    </div>
</footer>
<!-- Footer End -->