<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
<f:variable name="marginSpace"><f:if condition="{pageData.pid} != 0"><f:then>my-5</f:then><f:else>mb-5</f:else></f:if></f:variable>
    <div class="container-fluid blog py-5 {marginSpace}">
        <f:variable name="paddingSpace"><f:if condition="{pageData.pid} != 0">py-5</f:if></f:variable>
        <div class="container {paddingSpace}">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h5 class="text-primary">{contentObjectData.header}</h5>
                    <h1>{contentObjectData.subheader}</h1>
                </div>
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			<div class="row g-5" id="news-container-{contentObjectData.uid}">
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:for each="{news}" as="newsItem" iteration="iterator">
							<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
						</f:for>
					</f:then>
					<f:else>
                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                        </f:for>
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
	</div>
</div>
</f:section>
</html>
